[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
ExecStart=/bin/sh -c '/etc/kafka/kafka_2.13-2.6.1/bin/kafka-server-start.sh /etc/kafka/kafka_2.13-2.6.1/config/server.properties > /etc/kafka/kafka_2.13-2.6.1/kafka.log 2>&1'
ExecStop=/etc/kafka/kafka_2.13-2.6.1/bin/kafka-server-stop.sh
Restart=on-abnormal
Environment=JMX_PORT=9989

[Install]
WantedBy=multi-user.target 
