[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '/home/kafka/kafka_2.13-2.6.1/bin/kafka-server-start.sh /home/kafka/kafka_2.13-2.6.1/config/server.properties > /home/kafka/kafka_2.13-2.6.1/kafka.log 2>&1'
ExecStop=/home/kafka/kafka_2.13-2.6.1/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target