[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/etc/kafka/kafka_2.13-2.6.1/bin/zookeeper-server-start.sh /etc/kafka/kafka_2.13-2.6.1/config/zookeeper.properties
ExecStop=/etc/kafka/kafka_2.13-2.6.1/bin/zookeeper-server-stop.sh
Restart=on-abnormal
Environment=JMX_PORT=9987

[Install]
WantedBy=multi-user.target