receivers:
  docker_stats:
    endpoint: "unix:///var/run/docker.sock"
exporters:
  otlp:
    endpoint: "{{ otel_endpoint }}"
    headers:
      api-key: "{{ otel_api_key }}"
service:
  pipelines:
    metrics:
      receivers: [docker_stats]
      exporters: [otlp]
