receivers:
  elasticsearch:
    endpoint: "http://localhost:9200"
exporters:
  otlp:
    endpoint: "{{ otel_endpoint }}"
    headers:
      api-key: "{{ otel_api_key }}"
service:
  pipelines:
    metrics:
      receivers: [elasticsearch]
      exporters: [otlp]
