receivers:
  rabbitmq:
    endpoint: "amqp://guest:guest@localhost:5672/"
exporters:
  otlp:
    endpoint: "{{ otel_endpoint }}"
    headers:
      api-key: "{{ otel_api_key }}"
service:
  pipelines:
    metrics:
      receivers: [rabbitmq]
      exporters: [otlp]
