[Unit]
Description=Consul Startup process
After=network.target
 
[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/consul agent -config-dir /etc/consul-config/server -client=0.0.0.0'
TimeoutStartSec=0
 
[Install]
WantedBy=default.target
