class { 'newrelic_installer::install':
  targets               => ["infrastructure"],
  environment_variables => {
    "NEW_RELIC_API_KEY"    => "{{ nr_api_key }}",
    "NEW_RELIC_ACCOUNT_ID" => {{ nr_account_id }},
    "NEW_RELIC_REGION"     => "{{ nr_region }}"
  }
}