{
  "id" : "{{ service_id }}",
  "port" : {{ service_port }},
  "delayStartMs": {{ delay_start_ms }},
  "dependencies":
  {{ dependencies | to_json }},
  "database": {
    "user": "{{ database_user | default("") }}",
    "password": "{{ database_password | default("") }}",
    "host": "{{ database_host | default("") }}",
    "port": "{{ database_port | default("") }}",
    "name": "{{ service_id }}"
  }
}
