[Unit]
Description=Framework Dependent .NET 5 APP.NET Core 5 Web app

[Service]
WorkingDirectory=/var/www/frameworkdependent-net5webapplication/
ExecStart=/usr/bin/dotnet /var/www/frameworkdependent-net5webapplication/net5webapplication.dll --urls=http://localhost:5001/
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=frameworkdependent-net5webapplication
User={{remote_user}}
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target