[Unit]
Description={{nginx_service_description}}

[Service]
WorkingDirectory=/var/www/{{service_id}}/
ExecStart=/var/www/{{service_id}}/net5webapplication --urls=http://localhost:{{nginx_proxy_port}}/
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier={{service_id}}
User={{remote_user}}
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target