[Unit]
Description={{ service_id }}
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/{{ ansible_user }}/{{ service_id }}/CoreLinuxWebApplication
