receivers:
  otlp:
    protocols:
      grpc:
      http:
  hostmetrics:
    collection_interval: 60s
    scrapers:
      cpu:
      load:
      memory:
      disk:
      filesystem:
      network:
      paging:
      processes:
exporters:
  otlphttp:
    endpoint: "{{ otel_endpoint }}"
    headers:
      api-key: "{{ otel_api_key }}"
service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp]
    metrics:
      receivers: [otlp, hostmetrics]
      exporters: [otlp]
    logs:
      receivers: [otlp]
      exporters: [otlp]
