[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
Environment=CATALINA_PID=/opt/apache-tomcat-8.5.69/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/apache-tomcat-8.5.69
Environment=CATALINA_BASE=/opt/apache-tomcat-8.5.69
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/opt/apache-tomcat-8.5.69/bin/startup.sh
ExecStop=/opt/apache-tomcat-8.5.69/shutdown.sh

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
