[Unit]
Description={{ service_id }} .NET 5 APP.NET Core 5 Web app

[Service]
WorkingDirectory=/var/www/{{ service_id }}/
ExecStart={{ startup_command }} --urls=http://localhost:{{ proxy_port }}/
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier={{ service_id }}
User=apache
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target