[Unit]
Description=Self Contained .NET 5 APP.NET Core 5 Web app

[Service]
WorkingDirectory=/var/www/selfcontained-net5webapplication/
ExecStart=/var/www/selfcontained-net5webapplication/net5webapplication --urls=http://localhost:5000/
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=selfcontained-net5webapplication
User=apache
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target